/*a {
 font-size: 15px;
 font-family: Helvetica, Sans-Serif;
 font-weight: bold;
}

a:hover {
 color: #b54090;
 text-decoration: none;
 font-weight: normal;
}
 
p {
 background-color: #e7e8fe;
 font-size: 14pt;
 text-indent: 20px;
 font-family: Arial, Sans-Serif;
} 
*/

.myTransparentList {

	background-color: rgba(0,0,0,0);
}
.myTransparentLabel {
	background-color: rgba(255,255,255,0);
}

.mySemiTransparentList {
	background-color:rgba(125,125,125,0.5);
}

.myAppBackground {
	background-color: white;
	background-image:
    radial-gradient(
      circle at top left,
      rgba(176,18,60,50),
      rgba(255,255,255,0)
    ),
    radial-gradient(
      circle at top right,
      rgba(247,159,16,50),
      rgba(255,255,255,0)
    ),
    radial-gradient(
      circle at bottom right,
      #49ad02,
      rgba(255,255,255,0)
    ),
    radial-gradient(
      circle at bottom left,
      #1854a2,
      rgba(255,255,255,0)
    );
}

.myTaskBackground {
	/*background-image: url("../images/mytaskBkgImg.jpg"); height: 45px; width: 80%; background-repeat: no-repeat; border-style: none;*/
	/*background-color: purple;*/
	text-align: center;
	max-width: 100%

} 

.myTaskText {
	/*background-color: blue;*/
	position: relative;
	color: #0174DF;
	font-weight: bolder;
	font-size: 16px;
	font-family: Arial, Sans-Serif;
	text-align: center;
	padding-top: 15px;
	padding-left: 15px;
	
}
.otherTaskBackground {
	/*background-image: url("../images/othertaskBkgImg.jpg"); height: 45px; width: 80%; background-repeat: no-repeat; border-style: none;*/
	/*background-color: green;*/
	text-align: center;
	max-width: 100%
} 

.otherTaskText {
	/*background-color: gray;*/
	position: relative;
	color: black;
	font-weight: bolder;
	font-size: 16px;
	font-family: Arial, Sans-Serif;
	text-align: center;
	padding-top: 15px;
	padding-left: 15px;
}