/*a {
 font-size: 15px;
 font-family: Helvetica, Sans-Serif;
 font-weight: bold;
}

a:hover {
 color: #b54090;
 text-decoration: none;
 font-weight: normal;
}
 
p {
 background-color: #e7e8fe;
 font-size: 14pt;
 text-indent: 20px;
 font-family: Arial, Sans-Serif;
} 
*/

.myTransparentList {

	background-color: rgba(0,0,0,0);
}
.myTransparentLabel {
	background-color: rgba(255,255,255,0);
}

.mySemiTransparentList {
	background-color:rgba(125,125,125,0.5);
}

.myAppBackground {
	background-color: white;
	background-image:
    radial-gradient(
      circle at top left,
      rgba(176,18,60,50),
      rgba(255,255,255,0)
    ),
    radial-gradient(
      circle at top right,
      rgba(247,159,16,50),
      rgba(255,255,255,0)
    ),
    radial-gradient(
      circle at bottom right,
      #49ad02,
      rgba(255,255,255,0)
    ),
    radial-gradient(
      circle at bottom left,
      #1854a2,
      rgba(255,255,255,0)
    );
}

.x-list .x-list-item.strikethrough {
    background-color: #ffccff;
}

.myRoommatesText {
	position: relative;
	color: white;
	font-weight: bolder;
	font-size: 16px;
	font-family: Arial, Sans-Serif;
	text-align: center;
	padding-top: 15px;
	padding-left: 15px;
}

.myTaskBackground {
	/*background-image: url("../images/mytaskBkgImg.jpg"); height: 45px; width: 80%; background-repeat: no-repeat; border-style: none;*/
	/*background-color: purple;*/
	text-align: center;
	max-width: 100%

} 

.my    Added a Login Empty Screen for Brandon to code in

commit 02a78c002f86a5314b4444a7c11a16e0495c0aeb
Author: Rahul Goel <irodov.rg@gmail.com>
Date:   Thu Oct 23 12:17:34 2014 -0400

    New files

commit 6fba7d64de6cb71e75755c3968efc268d8038ba4
Author: Rahul Goel <irodov.rg@gmail.com>
Date:   Thu Oct 23 12:14:34 2014 -0400

    Removed unneeded folders

commit b203f4ec2b651a0222a85f10d29060271ab50767
Author: brandonchastain <brandonchastain@gmail.com>
Date:   Thu Oct 23 11:17:32 2014 -0400

    Added the UI code

commit 71ad30b16aa28ef04b29af1e0625b2b2df6121c1
Author: Chastain, Brandon Clay <brandonchastain@gatech.edu>
Date:   Thu Oct 23 11:06:36 2014 -0400

    Initial commit
rahul@rahul-ThinkPad-T440s /opt/lampp/htdocs/NewUiRepo/TaskITUi/TaskIt $ 
rahul@rahul-ThinkPad-T440s /opt/lampp/htdocs/NewUiRepo/TaskITUi/TaskIt $ git pull
Already up-to-date.
rahul@rahul-ThinkPad-T440s /opt/lampp/htdocs/NewUiRepo/TaskITUi/TaskIt $ 
TaskTextCompleted {
	position: relative;
	color: grey;
	text-decoration: line-through;
	font-weight: bolder;
	font-size: 16px;
	font-family: Arial, Sans-Serif;
	text-align: center;
	padding-top: 15px;
	padding-left: 15px;	
}

.myTaskText {
	/*background-color: blue;*/
	position: relative;
	color: #0174DF;
	font-weight: bolder;
	font-size: 16px;
	font-family: Arial, Sans-Serif;
	text-align: center;
	padding-top: 15px;
	padding-left: 15px;	
}

.otherTaskBackground {
	/*background-image: url("../images/othertaskBkgImg.jpg"); height: 45px; width: 80%; background-repeat: no-repeat; border-style: none;*/
	/*background-color: green;*/
	text-align: center;
	max-width: 100%
} 

.otherTaskText {
	/*background-color: gray;*/
	position: relative;
	color: black;
	font-weight: bolder;
	font-size: 16px;
	font-family: Arial, Sans-Serif;
	text-align: center;
	padding-top: 15px;
	padding-left: 15px;
}